
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <h1>테스트 폼</h1>

	
	</br>
	<form th:action ="@{/dbTestProc}" th:object="${Links}" 
		method ="post"> <!-- enctype="multipart/form-data" -->
	
		Link
		<input type="text" name="link"/>
		</br>
		Title
		<input type="text" name="title"/>
		</br>
		
		보내기
		<input type="submit" value="메일 전송">
		</br>
	</form>
	
	</br>
	</br>
	</br>
	
	<h1> Repository List </h1>

	
	<table>
      <tr>
      	<th>Title</th>
      	<th>Link</th>
      	<!-- <th>Date</th> -->
      </tr>
      <tr th:each="links : ${link}">
      	<th th:text="${links.title}">Title</th>
      	<th th:text="${links.link}">Link</th>
      	<!-- <th th:text="${#temporals.format(links.created_Date, 'yyyy-mm-dd')}">Date</th> -->
      </tr>
    </table>
	
</body>
</html>